**1. Data Type and Basic Arithmetic**

Scenario:
The school wants to keep track of the number of students in each grade. They currently have the following data:

- Grade 1: 25 students - Grade 2: 30 students - Grade 3: 28 students

You need to perform the following tasks:

a. Calculate and display the total number of students.


b. Calculate and display the average number of students per grade.

In [2]:
# assigning the variables

grade_1, grade_2, grade_3 = 25, 30, 28

In [3]:
# calculating the total number of students

total_students = grade_1 + grade_2 + grade_3

print("There are", total_students, "students in the school")

There are 83 students in the school

In [7]:
# calculating the average number of students

average_students = round(total_students/3, 0)

print("There are", average_students, "students on average per grade")

There are 28.0 students on average per grade

**2. Variable Assignment and String Manipulation**

Scenario:
The school also wants to keep track of some important messages for different grades. They have prepared the following messages:

- Grade 1: "Welcome to Grade 1! We are excited to have you."
- Grade 2: "Hello Grade 2 students! Get ready to learn and have fun."
- Grade 3: "Welcome Grade 3 students. Let's make this a great year of learning."

You need to perform the following tasks:

a. Store the messages in variables corresponding to each grade.

b. Display the messages for Grade 2.

In [19]:
# a. Storing the messages

grade_1_msg = "Welcome to Grade 1! We are excited to have you."
grade_2_msg = "Hello Grade 2 students! Get ready to learn and have fun."
grade_3_msg = "Welcome Grade 3 students. Let's make this a great year of learning."

In [20]:
# b. displaying messages
grade_2_msg

'Hello Grade 2 students! Get ready to learn and have fun.'

**3. Lists and Dictionaries**

Scenario:
The school wants to store a list of subjects for each grade, along with the names of teachers who teach those subjects. Here's the data they have:

- Grade 1: Subjects - Math, English, Science; Teachers - Mr. Smith, Ms. Johnson, Mr. Davis
- Grade 2: Subjects - English, Science, History; Teachers - Ms. Williams, Mr. Davis, Ms. Brown
- Grade 3: Subjects - Science, History, Math; Teachers - Ms. Davis, Mr. Johnson, Mr. Smith

You need to perform the following tasks:

1. Create a list of grades

2. Create a list of subjects for each grade.

3. Create a dictionary where keys are the grade names and values are lists of teachers for each grade.

4. Display the subjects taught in Grade 3.

5. Display the values of Grade 2 in the dictionary.

In [21]:
# 1. list of grades
grades = ['grade_1', 'grade_2', 'grade_3']

In [25]:
# 2. list of subjects
subjects = [['Math', 'English', 'Science'], ['English', 'Science', 'History'], ['Science', 'History', 'Math']]

In [28]:
# 3. creating a dictionary
dict = {'grade_1': ['Mr. Smith', 'Ms. Johnson', 'Mr. Davis'], 'grade_2': ['Ms. Williams', 'Mr. Davis', 'Ms. Brown'], 'grade_3': ['Ms. Davis', 'Mr. Johnson', 'Mr. Smith']}

In [31]:
# 4. subjects taught in grade 3
subjects[2]

['Science', 'History', 'Math']

In [34]:
# 4. values of grade 2 in the dictionary
dict['grade_2']

['Ms. Williams', 'Mr. Davis', 'Ms. Brown']